body {
  margin: 0;
  padding-top: 90px;
  background-color: #fff;
  overflow-x: hidden;
  height: 60vh;
}

@font-face 
{
  font-family: 'semibold';
  src: url('font/FenomenSans-SemiBold.ttf');
}
@font-face {
  font-family: 'book';
  src: url('font/FenomenSans-Book.ttf');
}
@font-face {
  font-family: 'reguler';
  src: url('font/FenomenSans-Regular.ttf');
}
h1,h2,h3,h4,h5{
  font-family: 'semibold';
}
button{
  font-family: 'semibold';
}
label,input{
  font-family: 'book';
}
a{
  font-family: 'book';
}
p {
  font-size: 18px;
  color: #545454;
  font-family: 'book';
}
.content ul{
  list-style: decimal;
  font-size: 18px;
  color: #545454;
  font-family: 'book';
}
.content ul p{
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: 'book';
}
li{
  font-family: 'book';
}

      /* navbar  */
.navbar {
  height: 90px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  text-decoration: none;
  font-size: 20px;
  color: black;
}

.navbar-nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 10px;
  padding-right: 30px;
  position: relative;
}

.navbar-nav li {
  margin-right: 25px;
  position: relative;
}

.navbar-nav a {
  color: black;
  font-family: 'reguler';
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
}

.navbar-nav a:hover {
  transition: 0.3s ease-in-out;
  transition-delay: 0,3s;
  color: #007bff;
}

.hov {
  display: none;
  position: absolute;
  background-color: white;
  list-style: none;
  padding: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 0;
}

.navbar-nav li:hover .hov {
  display: block;
}

.hov li {
  margin: 0;
}

.hov a {
  color: black;
  text-decoration: none;
  font-size: 14px;
  padding: 5px 10px;
  display: block;
  white-space: nowrap;
}

.hov a:hover {
  background-color: white;
}


.container-h {
  background-color: rgb(217, 217, 217);
  background-color: rgb(217, 217, 217);
  display: flex;
  justify-content: center;
}


      /* navbar end */

/* button up  */
.pp {
  border-radius: 50%;
  object-fit: cover;
}
.btn-up{
  z-index: 5;
  position: fixed;
  bottom: 55px;
  right: 10px;
}
.btn-up img {
  transition: transform 0.3s ease, box-shadow 0.3s ease;  /* Tambahkan transisi */
}

.btn-up img:hover {
  transform: scale(1.1);
  transition: ;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}


/* FOOTER */
      footer {
        z-index: 2;
        width: 100%;
        background-color: rgb(255, 255, 255);
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-end;
        padding: 2rem 2vw;
        position: relative;
      }
      
      
      .col {
        border-radius: 20px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 28%;
      }
      
      .col2,
      .col3 {
        padding-left: 20px;
        background-color: #dfdfdf3f;
        border-radius: 10px;
      }
      
      footer img {
        width: 30px;
        border-radius: 50%;
        opacity: 50%;
        text-align: center;
        transform: scale(1.1);
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
      }

      .social {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 1rem;
      }
      
      footer a {
        text-decoration: none;
        color: inherit;
      }
      footer a p:hover{
        transition: 0.3s ease-in-out;
        transition-delay: 0,3s;
        color: #000000;
        text-decoration: underline;
      }
      
      .link {
      
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .link img:hover{
        transform: scale(1.5);
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
      }
      
      @media screen and (max-width: 1000px) {
        :root {
          --m: 3rem;
        }
      }
      
      @media screen and (max-width: 700px) {
        footer {
          flex-direction: column;
          padding: 5rem 20vw;
        }
        .col {
          width: 100%;
        }
      }
      